<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <table id="show-table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <strong>Invoice No.</strong>
                        </th>
                        <th>
                            <strong>Amount</strong>
                        </th>
                        <th>
                            <strong>Currency</strong>
                        </th>
                        <th>
                            <strong>Company</strong>
                        </th>
                        <th>
                            <strong>Contractor</strong>
                        </th>
                        <th>
                            <strong>Date</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <%= @invoice.id + 1 || 1 %>
                        </th>
                        <th>
                            <%= @invoice.amount %>
                        </th>
                        <th>
                            <%= @invoice.currency %>
                        </th>
                        <th>
                            <%= @invoice.company %>
                        </th>
                        <th>
                            <%= @invoice.contractor %>
                        </th>
                        <th>
                            <%= @invoice.date %>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="6 btn-group">
                            <%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-warning" %>
                            <%= link_to 'Back', invoices_path, class: "btn btn-info" %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6 btn-group">
                            <%= link_to 'See Printable Invoice (PDF)', invoice_path(@invoice, format: 'pdf'), class: 'btn btn-info' %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ol>
    <li>
        <p>gem install prawn</p>
    </li>
    <li>
        <p>Tell rails about the pdf MIME type</p>
        <p>Tell rails about the pdf MIME type:</p>
        <small>app/config/initializers/mime_types.rb</small>
        <code>Mime::Type.register 'application/pdf', :pdf</code>
    </li>
    <li>
        <p>In the controller action that you want to return a pdf</p>
        <small>app/controllers/invoices_controller/#show</small>
        <code>
            respond_to do |format|
                format.html
                format.pdf do
                    pdf = Prawn::Document.new pdf.text 'Hello world' send_data pdf.render,
                    filename: 'invoice no: #{@invoice.id + 1 || 1}',
                    type: 'application/pdf',
                    disposition: 'inline'
                end
            end
        </code>
    </li>
    <li>
        <small>in the show view - link to the pdf version</small>
        <code>link_to 'See Printable Invoice (PDF)', class: "btn btn-info", invoices_path(@invoice, format: 'pdf')</code>
    </li>
    <li>
        <small>make new directory <b>pdfs</b>under app</small>
        <small>inside make file: invoice_pdf.rb</small>
        <code>
            class InvoicePdf < Prawn::Document
              def initialize(invoice)
                super(top_margin: 50)
                @invoice = invoice
                invoice_number
              end

              def invoice_number
                text "Invoice no: #{ @invoice.id + 1 || 1 }"
              end
            end

        </code>
        <small>in the controller#show</small>
        <code>pdf = InvoicePDF.new</code>
        <small>restart server</small>
    </li>
</ol>
