<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <table id="index-table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <strong>Amount:</strong>
                        </th>
                        <th>
                            <strong>Company:</strong>
                        </th>
                        <th>
                            <strong>Contractor:</strong>
                        </th>
                        <th>
                            <strong>Currency:</strong>
                        </th>
                        <th>
                            <strong>Date:</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <%= @invoice.amount %>
                        </th>
                        <th>
                            <%= @invoice.company %>
                        </th>
                        <th>
                            <%= @invoice.contractor %>
                        </th>
                        <th>
                            <%= @invoice.currency %>
                        </th>
                        <th>
                            <%= @invoice.date %>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="5 btn-group">
                            <%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-warning" %>
                            <%= link_to 'Back', invoices_path, class: "btn btn-info" %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="date"><p>Date: <b><%= @invoice.date %></b></p></div>
    </div>
    <div class="row">
        <p>From: <b><%= @invoice.company %></b></p>
    </div>
    <div class="row">
        <p>To: <b><%= @invoice.contractor %></b></p>

    </div>
    <div class="row">
        <p>Total Sum Due: </p> <b><%= @invoice.amount %></b>
    </div>
</div>
