<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <table id="show-table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <strong>Invoice No.</strong>
                        </th>
                        <th>
                            <strong>Amount</strong>
                        </th>
                        <th>
                            <strong>Currency</strong>
                        </th>
                        <th>
                            <strong>Company</strong>
                        </th>
                        <th>
                            <strong>Contractor</strong>
                        </th>
                        <th>
                            <strong>Date</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <%= @invoice.id + 1 || 1 %>
                        </th>
                        <th>
                            <%= @invoice.amount %>
                        </th>
                        <th>
                            <%= @invoice.currency %>
                        </th>
                        <th>
                            <%= @invoice.company %>
                        </th>
                        <th>
                            <%= @invoice.contractor %>
                        </th>
                        <th>
                            <%= @invoice.date %>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="6 btn-group">
                            <%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-warning" %>
                            <%= link_to 'Back', invoices_path, class: "btn btn-info" %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6 btn-group">
                            <%= link_to 'See Printable Invoice (PDF)', invoice_path(@invoice, format: 'pdf'), class: 'btn btn-info' %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
